# Исключение временных файлов Visual Studio #
.vs/
bin/
obj/

# Исключение файлов резервных копий #
*.bak
*.backup

# Исключение файлов настроек пользователя Visual Studio #
*.user
*.suo
*.sln.docstates

# Исключение картинок

*.png
*.jpg


# Исключение файлов журнала сборки #
*.log

# Исключение файлов БД

*.db*